
<div class="container-fluid">
    <div class="row">
       
        <div class="col-lg-2">
             <img src="../../../assets/perfil.jpg" alt="de la primaria" class= "img-thumbnail" id="fotoperfil">
        </div>
    
         <div class="col-lg-4" class="nombre">
            <p>DATES IGNACIO JOSÉ</p>
            <p>Desarrollador Web Full Stack Jr.</p>
        </div>
        
        <div class="col-lg-6" class="reseña">
            <h2>Breve reseña autobiográfica</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquid aut ratione praesentium repellendus, beatae ullam eos pariatur eum, suscipit saepe doloribus sapiente exercitationem dicta porro temporibus neque voluptatum voluptatibus?</p>
        </div>
    </div>    
</div>