.row{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
div{
    background-color: rgb(98, 118, 153);
}
/*Estilo de la foto de perfil*/
#fotoperfil{
    position: absolute;
    align-items: center;
    margin-left: 50px;
    width: 10%;
    border-radius:7%;
    box-shadow: 7px 7px 10px rgb(68, 80, 121);
    top: 310px;
}
.nombre{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    color: rgb(36, 32, 28);
    text-align: center;
    float: right;
    margin-top: 15px;
}
.reseña{
    display: inline;
    float: right;

}
