.row{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px;
}
h2{
    text-shadow: 1px 1px 10px rgb(90, 109, 162);
}
div{
    background: rgb(142, 174, 222);
}
h3, h4{
    display: inline;
}

#nuevaexpe{
    float: initial;    
}

td{
    border-color: rgb(122, 150, 191);;

}