<div class="container-fluid">
<div class="row">
    <h2>Experiencia Laboral</h2>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h3>Trabajo 1</h3> - <h4>(años)</h4>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere, accusamus sint! Eius aut, laboriosam ea, similique quisquam delectus, nulla voluptas ipsa corporis velit molestiae harum sit alias officia reprehenderit culpa.</p>
            </li>
            <li>
                <h3>Trabajo 2</h3> - <h4>(años)</h4>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere, accusamus sint! Eius aut, laboriosam ea, similique quisquam delectus, nulla voluptas ipsa corporis velit molestiae harum sit alias officia reprehenderit culpa.</p>
            </li>
            <li>
                <h3>Trabajo 3</h3> - <h4>(años)</h4>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere, accusamus sint! Eius aut, laboriosam ea, similique quisquam delectus, nulla voluptas ipsa corporis velit molestiae harum sit alias officia reprehenderit culpa.</p>
            </li>


        </ul>


    </div>

</div>
</div>