.row{
    background-color: rgb(142, 174, 222);
    padding: 20px;
}

h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 1px 1px 10px rgb(106, 126, 180);
    
}

 
td{
    border-color: rgb(122, 150, 191);

}