.row{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px;
}
h2{
    text-shadow: 1px 1px 10px rgb(175, 182, 234);
}
div{
    background: rgb(102, 118, 153);
}
h3, h4{
    display: inline;
}