
<div class="container-fluid">
    <div class="row row-cols-2">
        <div>
             <img src="../../../assets/fotoPerfilAdulto.jpg" alt="de la primaria" class= "img-thumbnail" id="fotoperfil">
        </div>
    
         <div class="col" class="nombre">
            <button type="button" class="btn btn-outline-light">{{persona.apellido}} {{persona.nombre}}</button>
            
            <p>Desarrollador Web Full Stack Jr.</p>
        </div>
        
        <div class="col" class="reseña">
            <h3>Breve reseña autobiográfica</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquid aut ratione praesentium repellendus, beatae ullam eos pariatur eum, suscipit saepe doloribus sapiente exercitationem dicta porro temporibus neque voluptatum voluptatibus?</p>
        </div>
    </div>    
</div>
