

    <div class="container-fluid">
      <h3>Habilidades profesionales</h3>
 
        <div class="row row-cols-4">
            <div class="col">
              <h5>Inglés oral y escrito</h5>
                <circle-progress
                    [percent]="75"
                    [radius]="80"
                    [outerStrokeWidth]="16"
                    [innerStrokeWidth]="8"
                    [outerStrokeColor]="'#78C000'"
                    [innerStrokeColor]="'#C7E596'"
                    [animation]="true"
                    [animationDuration]="300"
                ></circle-progress>
                
            </div>
    
      <div class="col">
        <h5>Herramientas de Frontend</h5>
        <circle-progress
        [percent]="40"
        [radius]="80"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="300"
    ></circle-progress>

      </div>
      <div class="col">
        <h5>Herramientas de Backend</h5>
        <circle-progress
        [percent]="45"
        [radius]="80"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="300"
    ></circle-progress>

      </div>
      <div class="col">
        <h5>Herramientas interdisciplinarias</h5>
        <circle-progress
        [percent]="90"
        [radius]="80"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="300"
    ></circle-progress>

      </div>
      <div class="col">
        <h5>Escucha activa y empatía</h5>
        <circle-progress
        [percent]="85"
        [radius]="80"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="300"
    ></circle-progress>

      </div>
      <div class="col">
        <h5>Comunicación y trabajo en equipo</h5>
        <circle-progress
        [percent]="80"
        [radius]="80"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="300"
    ></circle-progress>
    </div>
    <div class="col">
      <h5>Resolución de problemas</h5>
      <circle-progress
      [percent]="70"
      [radius]="80"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="300"
  ></circle-progress>
  </div>
  <div class="col">
    <h5>Adaptabilidad</h5>
    <circle-progress
    [percent]="95"
    [radius]="80"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="300"
></circle-progress>
</div>
    </div>
</div>