.container-fluid{
    background-color: rgb(98, 118, 153);
    justify-content: center;
}
.primera{
        display:flex;

}
#logoAP{
    width: 250px;
    padding-right: 10px;

}
#ws{
    width: 55px;
    padding-right: 10px;
}
#github{
    width: 50px;
    padding-right: 10px;
   
}
#carta{
    width: 50px;
    padding-right: 10px;
 
}
#ingreso{
    margin-right: 20px;
    color: black;
    border-color: black;
}
.logos{
margin-top: 25px;
   
}

